@media (min-width:768px) {
    /* main header .header-bottom .btn span {
        display: flex;
        align-items: center;
        justify-content: center;
    } */
    main header .header-bottom .img-wrapper  {
        width: 30vw;
    }
}
@media only screen and (min-width: 1025px) {
    main header .header-bottom .img-wrapper {
        width: 20vw;
    }
}
@media (max-width:426px){
    body{
        position: relative;
    }
    main header .header-bottom .btn-effect::after{
        display: none;
    }
    /* main header .header-bottom .btn{
        z-index: -9;
    } */
    main header .header-bottom .btn-effect span {
        display: block;
        z-index: -9;
    }
}
@media (max-width:600px) {
    main{
        position: relative;
        z-index: 1;
    }
    
    main header nav 
    {
        width: 100%;
        position: relative;
        z-index: 9999;
        top: -20px;
    }
}

/* only for tab */
@media (width:768px) { 
    main header nav 
    {
        width: 100%;
        position: relative;
        z-index: 9999;
        top: -40px;
    }
    main header .header-bottom {
        margin-top: 2rem !important;
    }
}

@media (width:1024px) {
    main header nav 
    {
        width: 100%;
        position: relative;
        z-index: 9999;
        top: -50px;
    }
}